* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Press Start 2P", system-ui;
}

.header-container {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(163, 228, 12, 0.918);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  margin-left: 1rem;
}

.score-update {
  margin-right: 1rem;
}

.score-update p {
  /* font-size: 2rem; */
  font-weight: 600;
}

@media screen and (max-width: 46.875em) {
  .header-container {
    width: 100%;
  }
}

@media screen and (max-width: 28.125em) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
}

form {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(163, 228, 12, 0.918);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding: 1.5rem; */
  border: 2px dashed blue;
  text-align: center;
}

.computer h2 {
  padding: 0.8rem 1.5rem 0 1.5rem;
  font-size: 1.6rem;
}

.computer-selection p {
  font-size: 10rem;
}

.winner-display {
  background-color: rgb(228, 180, 25);
  width: 100%;
  text-align: center;
}

.player {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  border: 2px dashed blue;
  text-align: center;
}

.player h2 {
  padding: 0.8rem 1.5rem 0 1.5rem;
  font-size: 1.6rem;
}

.player-selection p {
  font-size: 10rem;
}

.player-buttons-container {
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}

.player-button {
  background-color: azure;
  border-radius: 1.7rem;
  text-align: center;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  padding: 1.5rem;
}

.player-button p {
  font-size: 7rem;
}

.player-button h2 {
  font-size: 1.6rem;
}

@media screen and (max-width: 46.875em) {
  form {
    width: 100%;
  }
}

@media screen and (max-width: 25em) {
  .player-buttons-container {
    display: flex;
    flex-direction: column;
  }
}
